.thumbnail {
    position: relative;
    height: 60px;
    width: 60px;
    overflow: hidden;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
.big {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color: #444;
    height:30px;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}
.small {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color: #666;
    height:30px;
    font-size: 15px;
    text-align: left;
}
#search-remove {
    float:right;
    margin-left:5px;
    color: #aaa;
    font-size:30px;
    width:30px;
    height:100%;
    cursor:pointer;
    padding-top:10px;
}
#search-remove:hover {
    color: #c77;
}
#search-results {
    clear: both;
}
#search-results-text {
    font-size: 30px;
}
#queue-text {
    font-size: 30px;
}
.remove {
    float:right;
    margin-left:5px;
    color: #aaa;
    font-size:20px;
    height:100%;
    cursor:pointer;
}
.remove:hover {
    color: #c77;
}
.duration-container {
    clear: both;
    float: right;
    font-size: 16px;
}
.duration {
    right: 5px;
}
.downarrow {
    float:left;
    margin-right:5px;
}
.np-songinfo {
    height:100%;
}
.songinfo {
    height:100%;
    margin-left:30px;
    margin-right:30px;
}

.arrows:hover {
    color: #ccc;
}
.active {
    color: #000;
}

.searchResult {
    background: #fff;
    padding: 5px;
}

.searchResult:hover {
    background: #eff;
}
#search-terms, #search-button {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.now-playing {
    background: none;
    padding: 5px;
}

.listener-link {
    text-align: center;
    color: #ccc;
}

#progress {
    position: absolute;
    margin: -5px -5px -5px -5px;
    height: 100%;
    background-color:#eee;
    z-index: -2;
}

#progressmouseover {
    position: absolute;
    margin: -5px -5px -5px -5px;
    height: 100%;
    background-color:#bbb;
    background-blend-mode: darken;
    opacity: 0.5;
    z-index: -1;
    visibility: hidden;
}
#progressmouseover.mouseover {
    visibility: visible;
}

#shuffle {
    float: right;
}
#controls {
    float: left;
}
#stream {
    margin-left: 10px;
    float: left;
}
#mute {
    margin-left: 10px;
    float: left;
}
#volume{
    width:200px;
    height: 35px;
    margin-left: 10px;
    float: left;
}
#queue {
    padding-top:10px;
    clear: both;
}
.queue-item {
    padding: 5px;
}
.queue-item:hover {
    background-color: #eee;
}
.logo {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.logo sup {
    font-size: 16px;
}
.logo img {
    height: 50px;
    width: auto;
}
#auth-text {
    position: relative;
    text-align: center;
}
.right {
    float: right;
}
.fullHeight {
    height: 100%;
}
